html,
body {
	width: 100vw;
	height: 100vh;
	margin: 0;
}

div#map {
	width: 100vw;
	height: 100vh;
}

form#search-form {
	display: flex;
	width: 100%;
}

label {
	font-size: large;
}

legend {
	font-size: large;
}

input {
	font-size: large;
	width: 97%;
}

textarea{
	font-size: large;
	width: 97%;	
}

form#form-coord {
	display: flex;
	width: 100%;
}

form#title>input[type="text"] {
	padding: 6px 3px;
	font-size: large;
}

input[type="number"] {
	border: none;
	font-size: large;
}

input[type="search"] {
	padding: 6px 3px;
	border: none;
	border-bottom: 1px solid #0004;
	font-size: large;
}

form#search-form>input[name="query"] {
	flex: 1 0 auto;
}

output[form="search-form"]>ul {
	padding: 0;
}
output[form="search-form"]>ul>li {
	list-style: none;
}
output[form="search-form"]>ul>li>button {
	text-align: left;
	background-color: transparent;
	cursor: pointer;
	width: 100%;
	padding: 4px;
	border: none;
	border-radius: 3px;
}
output[form="search-form"]>ul>li>button:hover {
	background-color: #8884;
}


/* Nico Bouton*/

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

button {
	width: 150px;
	height: 50px;
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #7f5a83;
	background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
	background-size: 200% 100%;
	background-position: left;
	background-repeat: no-repeat;
	transition: 500ms;
}

button:before {
	content: 'Create marker';
	color: rgba(255,255,255,0.5);
	font-size: 16px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 140px;
	height: 40px;
	background-color: #1b2845;
	background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
	transition: 500ms;
}

button:hover {
	background-position: right;
}

button:hover:before {
	color: rgba(255,255,255,0.8);
}

button:focus {
	outline: none;
}