html,
body {
	width: 100vw;
	height: 100vh;
	margin: 0;
}

div#map {
	width: 100vw;
	height: 100vh;
}

form#search-form {
	display: flex;
	width: 100%;
}

label {
	font-size: large;
}

legend {
	font-size: large;
}


input {
	font-size: large;
	width: 97%;
}

textarea{
	font-size: large;
	width: 97%;	
}

form#form-coord {
	display: flex;
	width: 100%;
}

form#title>input[type="text"] {
	padding: 6px 3px;
	font-size: large;
}

input[type="number"] {
	border: none;
	font-size: large;
}

input[type="search"] {
	padding: 6px 3px;
	border: none;
	border-bottom: 1px solid #0004;
	font-size: large;
}

form#search-form>input[name="query"] {
	flex: 1 0 auto;
}

output[form="search-form"]>ul {
	padding: 0;
}
output[form="search-form"]>ul>li {
	list-style: none;
}
output[form="search-form"]>ul>li>button {
	text-align: left !important;
	background-color: transparent !important;
	cursor: pointer !important;
	width: 100% !important;
	padding: 4px !important;
	border: none !important;
	border-radius: 3px !important;
	color: black !important;
}
output[form="search-form"]>ul>li>button:hover {
	background-color: #8884 !important;
}


button {
    color: #bf2020 ;
	text-transform: uppercase;
	background: #ffffff;
	padding: 20px;
	border: 4px solid #bf2020;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
}

button:hover {
	color: #494949;
	border-radius: 50px;
	border-color: #494949;
	transition: all 0.3s ease 0s;
	cursor: pointer;
}